<div class="product-container">
  <img (click)="openDialog()" [src]="productImageUrl + product.imageName" />
  <div>
    <p>
      {{ product.name }} <span> {{ product.price.toFixed(2) }}$ </span>
    </p>
  </div>
  <mat-icon
    *ngIf="isAdmin"
    class="icon delete-btn"
    (click)="deleteThisCard(product._id)"
    title="Delete product"
    >delete_forever</mat-icon
  >
  <mat-icon
    *ngIf="isAdmin"
    class="icon edit-btn"
    (click)="updateProductDialog()"
    title="Update product"
    >edit</mat-icon
  >
</div>
